:root {
  --branding-color: #f6c90e;
  --primary-background-color: #212529;
  --secondary-background-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #212529;
  --box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

body {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding-bottom: 50px;
}

main > .container-fluid {
  padding-top: 50px;
}

h1 {
  font-size: 3.5vw;
  margin: 35px auto;
}

h2.project-name {
  font-size: 32px;
  font-weight: 500;
}

h2.header {
  font-size: 40px;
  letter-spacing: 1.1px;
  font-weight: 600;
}

h4 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 1.1px;
  color: var(--primary-text-color);
  margin: 10px auto;
}

p.project-lead {
  font-weight: 300;
  padding-top: 10px;
}

.intro {
  text-align: justify;
}

img.portrait {
  vertical-align: center;
  mix-blend-mode: lighten;
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.35);
  margin: 30px 20px 0 15px;
  max-width: 83%;
}

.btn {
  color: var(--secondary-text-color);
  border: 1.2px solid;
  border-radius: 50px;
  text-align: center;
  padding: 18px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
}

a.primary-btn {
  background-color: var(--branding-color);
  border-color: 1px solid var(--branding-color);
}

a.primary-btn:hover {
  border-color: var(--branding-color);
  background-color: var(--primary-background-color);
  color: var(--branding-color);
  box-shadow: 0 0 0 0.2rem #f6c80ea4;
}

a.github-btn {
  background-color: #fc9a1a;
  border-color: #fc9a1a;
}

a.github-btn:hover {
  background-color: var(--primary-background-color);
  color: #fc9a1a;
  box-shadow: 0 0 0 0.2rem #fc9a1aad;
}

a.launch-btn {
  background-color: #f4a5a1;
  border-color: #f4a5a1;
}

a.launch-btn:hover {
  background-color: var(--primary-background-color);
  color: #f4a5a1;
  box-shadow: 0 0 0 0.2rem #f4a5a1ad;
}

a.project-btn {
  background-color: #f79486;
  border-color: #f79486;
  margin: 30px;
}

a.project-btn:hover {
  background-color: var(--primary-background-color);
  color: #f79486;
  box-shadow: 0 0 0 0.2rem #f79486ad;
}

.project-image img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.hero {
  background-color: var(--primary-background-color);
  padding: 40px 30px;
}

.hero-about {
  background-color: var(--primary-background-color);
  padding: 40px;
}

.yellow-fascinate {
  color: var(--branding-color);
  font-family: "Fascinate", cursive;
}
.flamingo-fascinate {
  color: #f79486;
  font-family: "Fascinate", cursive;
}
.marked {
  color: var(--branding-color);
}

.tech-skills {
  border-radius: 20px;
  margin: 20px;
  padding: 30px 13px;
  background-color: var(--primary-background-color);
  color: var(--secondary-text-color);
}

.tech-skills i {
  font-size: 40px;
  margin: 20px;
}

.work-inquiry {
  border-radius: 20px;
  margin: 20px;
  padding: 30px 50px;
  background-color: var(--primary-background-color);
}

.footer {
  background-color: var(--primary-background-color);
  font-size: 16px;
  padding: 15px;
  width: 100%;
}

.footer a {
  color: var(--branding-color);
  text-decoration: none;
  padding-left: 20px;
}
.footer a:hover {
  color: var(--primary-text-color);
}

/*    XS to SM device    */
@media (max-width: 575.9px) {
  .hero {
    padding: 20px 2px 30px;
  }
  img.portrait {
    max-width: 30%;
    margin: 0 auto;
  }
  h1 {
    font-size: 5.7vw;
    margin: 20px auto;
  }
  h2.header {
    font-size: 22px;
    font-weight: 500;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 5px 30px;
    line-height: 32px;
  }
  h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
  }
  .btn {
    padding: 15px 20px;
    font-size: 12px;
  }
  .work-inquiry {
    text-align: center;
    padding: 20px 10px;
  }
  .footer {
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }
}

/*    SM to MD devices    */
@media (min-width: 576px) and (max-width: 767.9px) {
  .hero {
    padding: 15px 10px;
  }
  .work-inquiry {
    text-align: center;
  }
  h1 {
    font-size: 3.5vw;
    margin: 20px auto;
  }
  h2.header {
    font-size: 22px;
    font-weight: 500;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 0 35px;
    line-height: 32px;
  }
}

/*     MD to LG  devices */
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 3.4vw;
    margin: 20px auto;
  }
  h2.header {
    font-size: 28px;
  }
  h3 {
    font-size: 28px;
    padding: 0 35px;
    line-height: 40px;
  }
  .btn {
    padding: 15px 18px;
    font-size: 13px;
  }
}
/*
xs <576px	
sm ≥576px
md ≥768px	
lg ≥992px	
xl ≥1200px	
xxl ≥1400px
 text-shadow: 5px 5px 13px rgba(246, 201, 14, 0.6);
*/

/*       heading animation     */
h1 span {
  text-transform: uppercase;
  display: inline-block;
  animation: animate 1s ease-out backwards;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(12px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0px);
  }
}
h1 span:nth-child(1) {
  animation-delay: 1s;
}
h1 span:nth-child(2) {
  animation-delay: 1.2s;
}
h1 span:nth-child(3) {
  animation-delay: 1.4s;
}
h1 span:nth-child(4) {
  animation-delay: 1.6s;
}
h1 span:nth-child(5) {
  animation-delay: 1.8s;
}
h1 span:nth-child(6) {
  animation-delay: 2s;
}
h1 span:nth-child(7) {
  animation-delay: 2.2s;
}
h1 span:nth-child(8) {
  animation-delay: 2.4s;
}
h1 span:nth-child(9) {
  animation-delay: 2.6s;
}
h1 span:nth-child(10) {
  animation-delay: 2.8s;
}
h1 span:nth-child(11) {
  animation-delay: 3s;
}
h1 span:nth-child(12) {
  animation-delay: 3.2s;
}
h1 span:nth-child(13) {
  animation-delay: 3.4s;
}
h1 span:nth-child(14) {
  animation-delay: 3.6s;
}
h1 span:nth-child(15) {
  animation-delay: 3.8s;
}
h1 span:nth-child(16) {
  animation-delay: 4s;
}
h1 span:nth-child(17) {
  animation-delay: 4.2s;
}
h1 span:nth-child(18) {
  animation-delay: 4.4s;
}
