:root {
  --yellow-color: #f6c90e;
  --pink-color: #e8636e;
  --orange-color: #f17d3a;
  --light-color: #ffffff;
  --dark-color: #212529;
  --box-shadow: rgba(21, 25, 29, 0.15) 0 4px 4px 0;
  --text-shadow-brown: -1px 0 #514242, 0 1px #514242, 1px 0 #514242,
    0 -1px #514242;
  /*-1px 0 #ecececa8, 0 1px #ecececa8, 1px 0 #ecececa8,
    0 -1px #ececec;*/
}

body {
  background-color: var(--light-color);
  color: var(--light-color);
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding-bottom: 50px;
}

main > .container-fluid {
  padding-top: 50px;
}

h1 {
  font-size: 3.5vw;
  margin: 35px auto;
}

h2.project-name {
  font-size: 32px;
  font-weight: 500;
}

h2.header {
  font-size: 40px;
  letter-spacing: 1.1px;
  font-weight: 600;
}

h4 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 1.1px;
  color: var(--light-color);
  margin: 10px auto;
}

p.project-lead {
  font-weight: 300;
  padding-top: 10px;
}

img.portrait {
  vertical-align: center;
  mix-blend-mode: lighten;
  margin: 30px 20px 0 15px;
  max-width: 83%;
}

ul.contact {
  list-style: none;
  padding-left: 0px;
}

.contact li {
  padding: 0;
  font-size: 3vw;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}
.btn {
  color: var(--dark-color);
  border: 1px solid;
  border-radius: 50px;
  text-align: center;
  padding: 18px 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: var(--box-shadow);
}

a.primary-btn {
  background-color: var(--yellow-color);
  border-color: var(--yellow-color);
}

a.primary-btn:hover {
  border-color: var(--yellow-color);
  background-color: var(--dark-color);
  color: var(--yellow-color);
  box-shadow: 0 0 0 0.2rem #f6c80ead;
}

a.github-btn {
  background-color: var(--orange-color);
  border-color: var(--orange-color);
}

a.github-btn:hover {
  color: var(--orange-color);
  background-color: var(--dark-color);
  box-shadow: 0 0 0 0.2rem #f17d3aad;
}

a.launch-btn {
  background-color: var(--pink-color);
  border-color: var(--pink-color);
}

a.launch-btn:hover {
  background-color: var(--dark-color);
  color: var(--pink-color);
  box-shadow: 0 0 0 0.2rem #e8636ebb;
}

a.project-btn {
  background-color: #e8636e;
  border-color: #e8636e;
  margin: 30px;
}

a.project-btn:hover {
  background-color: var(--dark-color);
  color: #e8636e;
  box-shadow: 0 0 0 0.2rem #e8636ebb;
}

.project-image img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.hero {
  background-color: var(--dark-color);
  padding: 40px 30px;
}

.hero-about {
  background-color: var(--dark-color);
  padding: 40px;
}

.intro {
  text-align: justify;
}

.hero-project {
  background-color: var(--dark-color);
  padding: 30px;
  text-align: center;
}

.yellow-fascinate {
  color: var(--yellow-color);
  font-family: "Fascinate", cursive;
  text-shadow: -1px 0 #514242, 0 1px #514242, 1px 0 #514242, 0 -1px #514242;
}

.orange-fascinate {
  color: var(--orange-color);
  font-family: "Fascinate", cursive;
}

.flamingo-fascinate {
  color: var(--pink-color);
  font-family: "Fascinate", cursive;
}

.marked {
  color: var(--pink-color);
}

.tech-skills {
  border-radius: 20px;
  margin: 20px;
  padding: 30px 13px;
  background-color: var(--dark-color);
  color: var(--dark-color);
}

.tech-skills i {
  font-size: 40px;
  margin: 20px;
}

.work-inquiry {
  border-radius: 20px;
  border: 0.5px solid #514242;
  color: var(--dark-color);
  margin: 20px;
  padding: 10px 50px;
  background-color: #73b4e7;
  /*background-color: var(--primary-background-color);*/
}

.footer {
  background-color: var(--dark-color);
  font-size: 16px;
  padding: 15px;
  width: 100%;
}

.footer a {
  color: var(--yellow-color);
  text-decoration: none;
  padding-left: 20px;
}
.footer a:hover {
  color: var(--light-color);
}

/*    XS to SM device    */
@media (max-width: 575.9px) {
  .hero {
    padding: 20px 2px 30px;
  }
  .hero-project {
    padding: 20px;
    margin-bottom: 20px;
  }
  .hero-about {
    background-color: var(--dark-color);
    padding: 20px 8px;
  }
  img.portrait {
    max-width: 30%;
    margin: 0 auto;
  }
  h1 {
    font-size: 5.7vw;
    margin: 20px auto;
  }
  h2.header {
    font-size: 22px;
    font-weight: 500;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 5px 30px;
    line-height: 32px;
  }
  h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
  }
  .btn {
    padding: 15px 20px;
    font-size: 12px;
  }
  .work-inquiry {
    text-align: center;
    padding: 20px 10px;
  }
  .footer {
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }
}

/*    SM to MD devices    */
@media (min-width: 576px) and (max-width: 767.9px) {
  .hero {
    padding: 15px 10px;
  }
  .hero-project {
    padding: 20px;
    margin-bottom: 20px;
    display: inline-flex;
  }
  .work-inquiry {
    text-align: center;
  }
  h1 {
    font-size: 3.5vw;
    margin: 20px auto;
  }
  h2.header {
    font-size: 22px;
    font-weight: 500;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 0 35px;
    line-height: 32px;
  }
}

/*     MD to LG  devices */
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 3.4vw;
    margin: 20px auto;
  }
  h2.header {
    font-size: 28px;
  }
  h3 {
    font-size: 28px;
    padding: 0 35px;
    line-height: 40px;
  }
  .btn {
    padding: 15px 18px;
    font-size: 13px;
  }
}
/*
xs <576px	
sm ≥576px
md ≥768px	
lg ≥992px	
xl ≥1200px	
xxl ≥1400px
 text-shadow: 5px 5px 13px rgba(246, 201, 14, 0.6);
*/

/*       heading animation     */
h1 span {
  text-transform: uppercase;
  display: inline-block;
  animation: animate 1s ease-out backwards;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(12px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0px);
  }
}
h1 span:nth-child(1) {
  animation-delay: 1s;
}
h1 span:nth-child(2) {
  animation-delay: 1.2s;
}
h1 span:nth-child(3) {
  animation-delay: 1.4s;
}
h1 span:nth-child(4) {
  animation-delay: 1.6s;
}
h1 span:nth-child(5) {
  animation-delay: 1.8s;
}
h1 span:nth-child(6) {
  animation-delay: 2s;
}
h1 span:nth-child(7) {
  animation-delay: 2.2s;
}
h1 span:nth-child(8) {
  animation-delay: 2.4s;
}
h1 span:nth-child(9) {
  animation-delay: 2.6s;
}
h1 span:nth-child(10) {
  animation-delay: 2.8s;
}
h1 span:nth-child(11) {
  animation-delay: 3s;
}
h1 span:nth-child(12) {
  animation-delay: 3.2s;
}
h1 span:nth-child(13) {
  animation-delay: 3.4s;
}
h1 span:nth-child(14) {
  animation-delay: 3.6s;
}
h1 span:nth-child(15) {
  animation-delay: 3.8s;
}
h1 span:nth-child(16) {
  animation-delay: 4s;
}
h1 span:nth-child(17) {
  animation-delay: 4.2s;
}
h1 span:nth-child(18) {
  animation-delay: 4.4s;
}
