body {
  background-color: #262626;
  color: #ffffff;
  margin: 20px;
  font-family: "Poppins", sans-serif;
}
h1 {
  color: #f6c90e;
  font-family: "Open Sans", sans-serif;
}
/*
font-family: 'Fascinate', cursive;
  font-family: "Alfa Slab One", cursive;
font-family: 'Open Sans', sans-serif;
  font-family: "Fascinate", cursive;
*/
